.gl-h1 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 50;
  background-color: white;
  font-size: 24px;
  color: #056676;

}

.gl-body {
  margin: 30 auto;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #056676;
  text-align: 'center'
}


.gl-button {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  border-color: #056676;
  color: #056676;
  border: 1px solid-#e8ded2;
  border-radius: 4px;
  padding: 5px 90px;
  text-align: center;
}


.gl-button:hover {
  color: #e8ded2;
  border: 2px solid #056676;
  background: #056676;
  box-shadow: 0 1px 0 #5eaaa8;
  transition-timing-function: ease-in;
  transition: .3s;
}

.gl-helpfulbutton {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  color: #a29b93;
  border: 0;
  padding: 0;
  border-radius: 0;

}
.gl-questions{
  padding-top: 6px;
  padding-bottom: 6px;
}

.gl-answer {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  color: #5EAAA8;
}

.gl-answerInfo{
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 12px;
  color: #a29b93;
}

.gl-loadMoreAnswers{
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: bold;
  color: #a29b93;
  text-align: left;
}

.gl-photos {
  border: 1px solid  #056676;
  border-radius: 10px;
  padding: 3px;
  width: 90px;
  display: flex; flex-direction: row;
}

.gl-aqb {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  border-color: #056676;
  color: #056676;
  border: 1px solid-#e8ded2;
  border-radius: 2px;
  padding: 5px 20px;
  text-align: center;
}

.gl-qmt {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  border: 1px solid-#e8ded2;
  color: #5EAAA8;
  text-align: center;
}